div{
  width: 150px;
  display: block;

}
p{
  max-width: 40px;
  position: absolute;
  font-size: 100%;
  padding: 10px;
}
#bootstrapOverrides button{
  background: #dddddd;
  border-color: #222222;
  border-bottom-width: 3px;
  box-shadow: 2px 0 3px #777777;
}
#bootstrapOverrides button:hover{
  background-color: #999999;
  border-bottom-width: 0;
  box-shadow: 0 0 transparent;
}
.display{
  height: 40px;
  width: 174px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgrey;
  text-align: right;
  border-style: inset;
  border-color: black;
  border-width: 2px;
}


.calculator{
  height:320px;
  width:200px;
  background-color: #666666;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  border-bottom: 4px solid #333333;
  box-shadow: 2px 0 3px #777777;
}
.calc{
  width: 175px;
  display: block;
}

.equalsButton{
    width: 48%;
    margin: 1%;

}
.clearButton{
    width:48%;
    margin: 1%;

}
.numberButton{
    width:31.33%;
    margin: 1%;
}

.functionButton{
    width:31.33%;
    margin: 1%;
}
